<%- contentFor('title') %>
UPchieve EDU Admin | New Question

<%- contentFor('body') %>
<div class="question-tile mt-4 mb-4 js-question-tile">
  <div class="m-4 p-4 js-question-rendered d-none">
    <%- include('question-rendered', { question, questionId: null }) %>
  </div>

  <form class="m-4 p-4 js-question-form" action="/api/edu/questions" method="post" novalidate>
    <%- include('question-form', { question }) %>
  </form>
</div>
