<div style="padding: 20px">
  <div style="margin: 0 0 10px">From: {{{email}}}</div>
  <div>Topic: {{{topic}}}</div>

  <div style="padding: 20px; margin: 20px 0; font-size: 18px; background: #eee; border-radius: 8px">{{{message}}}</div>
</div>
